<!DOCTYPE html>
<html>
  <head>
    <title>Zenterest</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= favicon_link_tag 'favicon.png' %>

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,800" rel="stylesheet">
    <script type="text/javascript">
        window.logoURL = "<%= image_url('favicon.png')  %>";

        window.znRedURL = "<%= image_url('zn-red.png')  %>";
        window.znWhiteURL = "<%= image_url('zn-white.png')  %>";
        window.znBlackURL = "<%= image_url('zn-black.png')  %>";
        window.zenterestRedURL = "<%= image_url('zenterest-red.png')  %>";
        window.zenterestWhiteURL = "<%= image_url('zenterest-white.png')  %>";
        window.zenterestBlackURL = "<%= image_url('zenterest-black.png')  %>";
        
    </script>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
